@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --font1:'Righteous', cursive;
}
*{
    margin: 0;
    padding:0;
}
.navigation {
    font-family: var(--font1);
    height: 70px;
    background-color: red;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.content {
    height: 95px;
    background-color: green;
}

.footer {
    height: 50px;
    background-color: blue;
}