.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;

}

.m-auto {
    margin: auto;
}

.m-2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.form-box input,
textarea {
    border: 1px solid black;
    padding: 2px;
    width: 40vw;

}